<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">
      {{ element.payload.doc.data().identifier }}
    </td>
  </ng-container>

  <ng-container matColumnDef="patient">
    <th mat-header-cell *matHeaderCellDef>Patient</th>
    <td mat-cell *matCellDef="let element">
      {{ element.payload.doc.data().patient }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element.payload.doc.data().status }}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef>Priority</th>
    <td mat-cell *matCellDef="let element">
      {{ element.payload.doc.data().priority }}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef>Topic</th>
    <td mat-cell *matCellDef="let element">
      {{ element.payload.doc.data().topic }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="sent">
    <th mat-header-cell *matHeaderCellDef>Sent</th>
    <td mat-cell *matCellDef="let element">
      {{ element.payload.doc.data().sent | parseJson | date: 'yyyy-MM-dd' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columns; let element; index as i"
    (click)="rowClickHandler(i, element)"
  ></tr>
</table>
